# List of high ground cliff .tscn files for manual placement
CliffStraight1 = "res://source/decorations/high_ground_cliffs/CliffStraight1.tscn"
CliffCorner1 = "res://source/decorations/high_ground_cliffs/CliffCorner1.tscn"
